@import 'tailwindcss';

@font-face {
  font-family: LeagueSpartanRegular;
  src: url(./assets/fonts/LeagueSpartan-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: LeagueSpartanBold;
  src: url(./assets/fonts/LeagueSpartan-Bold.ttf);
  font-display: swap;
}

@layer base {
  :root {
    font-family: 'arial-black', sans-serif;

    --primary-color: #FFF292;
    --secondary-color: #FFE063;
    --white-color: #FAFAFA;
    --black-color: #2B2B2B;

    color: var(--black-color);
    background-color: var(--white-color);
  }

  .clip-path-custom {
clip-path: polygon(
  /* TOP — left → right */
  2.5% 2%,
  30% 0%,
  50% 0%,
  75% 0%,
  97% 8%,

  /* RIGHT — top → bottom */
  99% 25%,
  99% 30%,
  98% 80%,
  97% 100%,
  10% 100%,

  /* BOTTOM — right → left */
  50% 100%,
  20% 95%,
  85% 97%,
  10% 100%,
  2% 95%,

  /* LEFT — bottom → top */
  1.5% 75%,
  0.5% 50%,
  1% 25%
);
  }
}
